doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="renderer" content="webkit")
        meta(http-equiv="Cache-Control" content="no-siteapp")
        link(rel='stylesheet', href='../../assets/css/header.css')
        link(rel='stylesheet', href='../../assets/css/nav.css')
        script(src="../../assets/js/lib/http.js")
        // - 从 Index.config.ts 中渲染公共 css 和 js
        each val,index in globals.css
            link(rel='stylesheet', href=`${val}`)
        each val,index in globals.js
            script(src=`${val}`)
        script.
            if (typeof module === 'object') {
                window.jQuery = window.$ = module.exports;
            };

        block title
    body
        - if (header)
            include ../components/header
        - if (nav)
            include ../components/nav
        block content

        block script
