extends ../../layout/index

block title

    title 播放页面
    link(rel='stylesheet', href='../../assets/css/clear.css')
    link(rel='stylesheet', href='../../assets/css/PlayVideo.css')
    link(rel='stylesheet', href='https://cdn.bootcdn.net/ajax/libs/Swiper/5.4.5/css/swiper.min.css')

//- 网站的主体内容区域
block content
    .PlayVideo
        .title
            span #{video.caption}
            i(class="iconfont down_video icon-changyongicon-")
        - if (img == true)
            .swiper-container
                .swiper-wrapper
                    - each val,index in video.list
                        .swiper-slide
                            img(src="#{val}")
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next
        - else
            video#my-video(controlsList="nodownload" loop controls autoplay
                poster='#{video.poster}'
                src="#{video.playUrl}")

block script
    script(src="https://cdn.bootcdn.net/ajax/libs/Swiper/5.4.5/js/swiper.min.js")
    script(src="../../assets/js/page/PlayVideo.js")
