.action
    .left_action
        i(class="iconfont icon-houtui")
        i(class="iconfont icon-qianjin")
    .right_menu
        .menu_text iTunes 音乐
        .menu_action
            i(class="iconfont icon-iconzhengli_youjian")
            i(class="iconfont icon-yifu")
            i(class="iconfont icon-shezhi")
