.nav_menu
    .title 我的音乐
    .item_menu
        i(class="iconfont icon-yinle")
        span iTunes音乐
    .item_menu
        i(class="iconfont icon-changyongicon-")
        span 下载管理
    .item_menu
        i(class="iconfont icon-yun")
        span 我的音乐盘
    .item_menu
        i(class="iconfont icon-shoucang")
        span 我的收藏

    .title 我的云盘
    .item_menu
        i(class="iconfont icon-tupian")
        span 精彩照片
    .item_menu
        i(class="iconfont icon-shipin1")
        span 视频记忆
    .item_menu
        i(class="iconfont icon-wenjianjia1")
        span 重要文件
    .item_menu
        i(class="iconfont icon-qita")
        span 其他资料

    .title 在线娱乐
    .item_menu
        i(class="iconfont icon-ziyuan")
        span 短视频
    .item_menu
        i(class="iconfont icon-zhibo")
        span 娱乐直播
    .item_menu
        i(class="iconfont icon-xinwen")
        span 新闻资讯
