extends ../../layout/index

block title

    title #{title}
    link(rel='stylesheet', href='../../assets/css/clear.css')
    link(rel='stylesheet', href='../../assets/css/Home.css')

//- 网站的主体内容区域
block content
    .content
        .Home
            ul.video_list(page="#{list.pcursor}")
              each val,index in list.list
                li
                  .abbreviation_f(principalId="#{val.user.id}" photoId="#{val.id}" workType="#{val.workType}")
                      .zz(style="background: url(#{val.thumbnailUrl});background-position: center center;")
                      img(class="thumbnailUrl" src="#{val.thumbnailUrl}")
                      div(class="#{val.workType == 'video' ? 'tips red':'tips green'}")
                        | #{val.workType == 'video' ? '视频':'图片'}
                        - if (val.imgUrls.length != 0)
                            div(class="imgUrls" style="display:none") #{JSON.stringify(val.imgUrls)}
                  .info
                      img(src="#{val.user.avatar}")
                      p #{val.caption}

block script
    script(src="../../assets/js/page/Home.js")
